{% extends 'login/header.html' %}
{% block navbar %}
<li><a href="#" data-toggle= "modal" data-target = "#popupregister"><span class="glyphicon glyphicon-user"></span> Register</a></li>
<li><a href="#" data-toggle= "modal" data-target = "#popuplogin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
{% endblock %}

{% block content %}
	<center><h1>Human Resource Management System</h1></center>
    <hr>
    <center><img src="media/pictures/hero.jpg" height="400px" width="400px"></center>

    <div class="modal fade" id = "popuplogin" role = "dialog">
    	<div class="modal-dialog">
    		<div class="modal-content">
    			<div class="modeal-header" style="padding:35px 50px 10px 50px;">
    				<button type="button" class="close" data-dismiss= "modal">&times;</button>
    				<h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
    			</div>
    			<div class="modal-body" style="padding:30px 50px;">
    				<form role="form" method="post" action="{% url 'check' %}">
    					{% csrf_token %}
    					<div class="form-group">
    						<label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
    						<input type="text" class="form-control" name="username" id="username" value="" placeholder="username">
    					</div>
    					<div class="form-group">
    						<label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
    						<input type="password" class="form-control" name="password" id="password" value="" placeholder="password">
    					</div>
    					<div class="form-group">
    						<br>
    						<button type="submit" class="btn btn-primary btn-block">Login</button>
    					</div>
    				</form>
    			</div>
    			<div class="modal-footer">
    				Haven't registered yet?<a href="#" data-toggle= "modal" data-target = "#popupregister" data-dismiss = "modal"> Register</a>
    			</div>
    		</div>
    	</div>
    </div> 


    <div class="modal fade" id = "popupregister" role = "dialog">
    	<div class="modal-dialog">
    		<div class="modal-content">
    			<div class="modeal-header" style="padding:35px 50px 10px 50px;">
    				<button type="button" class="close" data-dismiss= "modal">&times;</button>
    				<h4><span class="glyphicon glyphicon-user"></span> Register</h4>
    			</div>
    			<div class="modal-body" style="padding:30px 50px;">
    				<form role="form" method="post" action="{% url 'register' %}">
    					{% csrf_token %}
    					<!-- <div class="form-group">
    						<label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
    						<input type="text" class="form-control" name="username" id="username" value="" placeholder="username">
    					</div>
    					<div class="form-group">
    						<label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
    						<input type="password" class="form-control" name="password" id="password" value="" placeholder="password">
    					</div> -->
                        <div class="form-group">
                            {{form.as_p}}
                        </div>
    					<div class="form-group">
    						<br>
    						<button type="submit" class="btn btn-primary btn-block">Register</button>
    					</div>
    				</form>
    			</div>
    			<div class="modal-footer">
    				Already registered?<a href="#" data-toggle= "modal" data-target = "#popuplogin" data-dismiss = "modal"> login</a>
    			</div>
    		</div>
    	</div>
    </div> 



{% endblock %}	 